[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tweety = "*"
importlib-metadata = "==1.7.0"
tweepy = {extras = ["async"], version = "*"}

[dev-packages]

[requires]
python_version = "3.9"
